*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-primary: #282c34;
  --fg-color: #c0caf5;
  --nav-color: #4B5263;
  --link-fg: #58a6ff;
  --footer-fg: #fff;
  --border-bg: #c0caf5; 
}

html {
  font-size: 62.5%;
  overflow-x: hidden; 
}

body {
  font-size: 1.6rem;
  font-family: "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
  color: var(--fg-color);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 60rem; 
  margin: 0 auto;
}

article {
    text-align: justify;
}

a:link,
a:visited {
  color: var(--link-fg);
}

header {
  border-bottom: 0.2rem solid var(--fg-color);
  padding: 1.2rem 0;
}

.container {
  font-size: 1.2rem;
  font-family: "Merriweather Sans", sans-serif;
  height: 70px;
  width: 100%; 
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  font-weight: bold;
  color: var(--fg-color);
  text-decoration: none;
  font-size: 1.8rem;
}

.navbar nav {
  display: flex;
  align-items: center;
}

.navbar nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--fg-color);
  letter-spacing: 3px;
  margin-left: 32px;
  text-decoration: none;
  text-transform: uppercase;
}

article {
  margin: 2rem auto;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid var(--border-bg);
  font-size: 1.2rem;
  color: var(--footer-fg);
  text-align: center;
}

/* -------------------------- */
/* Media Queries              */
/* -------------------------- */

@media (max-width: 639px) {
  .navbar {
    flex-direction: column;
  }
  
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  
  .logo {
    margin: 1rem auto 3rem;
    text-align: center;
  }
  
  .logo a {
    font-size: 2.4rem;
  }
  
  nav a {
    display: block;
    margin: 0;
  }
}

@media (min-width: 640px) {
  .navbar {
    flex-direction: row;
  }
  
  nav {
    margin: 0;
    text-align: right;
  }
  
  nav a {
    margin-left: 1.2rem;
  }
  
  .logo {
    margin: 0;
    text-align: left;
  }
  
  .logo a {
    font-size: 1.8rem;
  }
  
  footer {
    text-align: right;
  }
}