  <div class="sidebar-widget">
    <h3>Categories</h3>
    <ul>
      <li><a href="/tags/philosophy.html">Philosophy</a></li>
      <li><a href="/tags/politics.html">Politics</a></li>
      <li><a href="/tags/software.html">Software</a></li>
      <li><a href="/tags/books.html">Books</a></li>
    </ul>
  </div>
  
  <div class="sidebar-widget">
    <h3>Useful Links</h3>
    <ul>
      <li><a href="https://github.com/bgcicca">GitHub</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/contact.html">Contact</a></li>
    </ul>
  </div>
  